<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="outer">
        <div class="main"> =
        </div>
        <div class="fom">
            <div class="mobile">
                <div class="img">
                </div>
                <div class="user">
                    <h1>LOGIN</h1>
                    <form action="http://localhost:8080/new/user" method="post">
                        <input type="text" placeholder="User name" name="username" />
                    <br/>
                    <input type="password" placeholder="Enter Password" name="password" />
                    <br/>
                    <div class="btn">
                            <button type="submit">Login</button>
                            <button>SignUp</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>